.container {
  max-width: 40%;
  margin: 2em auto;
}
@media (max-width: 500px) {
  .container {
    max-width: 90%;
  }
  .m-flex-column {
    flex-direction: column;
  }
  .comment-reviews {
    order: 1;
    flex-direction: row !important;
  }
  .comment-card {
    position: relative;
  }
  .reply-button,
  .user-buttons {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .date {
    margin-left: 3.2em;
  }
  .comment-info {
    flex-wrap: wrap;
  }
  .d-none {
    display: none;
  }
}
@media (max-width: 850px) {
  .container {
    max-width: 70%;
  }
}
.replyingTo {
  cursor: pointer;
}
.reply-button:hover {
  color: hsl(239, 57%, 85%);
}
.reply-card {
  border-left: 1px solid lightgray;
  margin-left: 1.5em;
}
.Moderate-blue {
  color: hsl(238, 40%, 52%);
}
.comment-form {
  flex-basis: 90%;
}

.reviews-button {
  color: hsl(239, 57%, 85%);
  font-size: 16px;
}
.reviews-button:hover {
  color: hsl(238, 40%, 52%);
}
.avatar {
  max-width: 28px;
  max-height: 28px;
  margin-right: 1.5em;
}
.comment-reviews {
  flex-basis: 10%;
}
.comment-content {
  flex-basis: 90%;
}
.date,
.comment-text,
.you-padge {
  color: hsl(211, 10%, 45%);
}
.you-padge {
  color: white;
  background-color: hsl(238, 40%, 52%);
  border-radius: 5px;
  padding: 0 0.3em;
}
/* spacing */
.mr-0 {
  margin-right: 0.5em;
}
.ml-0 {
  margin-left: 0.5em;
}
.ml-3 {
  margin-left: 3em;
}
.my-1 {
  margin-top: 1em;
  margin-bottom: 1em;
}
.my-3 {
  margin-top: 3em;
  margin-bottom: 3em;
}
/* flexbox utilities */
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.bold {
  font-weight: bold;
}
.jc-center {
  justify-content: center;
}
.jc-spaceBetween {
  justify-content: space-between;
}
.ai-center {
  align-items: center;
}

/* utilities */
.button {
  border: 0;
  cursor: pointer;
}
.form-input {
  width: 70%;
  border: 0;
  padding: 0.7em;
}
.form-button {
  padding: 0.7em 1.5em;
  cursor: pointer;
  border: 0;
  background-color: hsl(238, 40%, 52%);
  color: white;
  border-radius: 3px;
  margin-left: 0.3em;
}
.soft-red {
  color: hsl(358, 79%, 66%);
}
